<%- include('layouts/header') %>


    <div class="container px-5 my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Editando usuario</h1>
                <form id="add-form" action="/user/edit/<%= users._id%>" method="post" enctype="multipart/form-data">
                    <div class="mb3">
                        <label for="name" class="form-label">Name: </label>
                        <input type="text" class="form-control" value="<%= users.name %>" id="name" name="name" placeholder="Enter your name" required />
                    </div>
                    <div class="mb3">
                        <label for="email" class="form-label">Email: </label>
                        <input type="email" class="form-control" id="email" value="<%= users.email %>" name="email" placeholder="Enter your email" required />
                    </div>
                    <div class="mb3">
                        <label for="password" class="form-label">Password: </label>
                        <input type="password" class="form-control" id="password" value="<%= users.password %>" name="password" placeholder="Enter your password" required />
                    </div>
                    <div class="mb3">
                        <label for="phone" class="form-label">Phone: </label>
                        <input type="text" class="form-control" id="phone" value="<%= users.phone %>" name="phone" placeholder="Enter your phone number" required />
                    </div>
                    <div class="mb3">
                        <label for="photo" class="form-label">Image: </label>
                        <input type="file" class="form-control" id="image"  name="photo" accept="image/*" />
                        <img src="/upload/<%= users.photo %>" width="100" class="img-thumbnail mt-1">
                    </div>

                    <input type="hidden" name="old_image" value="<%= users.photo %>">

                    <div class="mb3">
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        <a href="/viewUser" class="btn btn-secondary mt-3">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


<%- include('layouts/footer') %>

